.col-lg-9.col-md-8.col-sm-8
  .page-header
    %h3 Profile

  / start form profile
  = form_for :profile, remote: true, html: {id: "form_profile", class: "form-horizontal"} do |f|
    .form-group
      = f.label :username, "Username",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :username, class: "form-control", autocomplete: "on", autofocus: "", required: true, placeholder: "Username"

    .form-group
      = f.label :fullname, "Fullname",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :fullname, class: "form-control", autocomplete: "on", required: true, placeholder: "Fullname"

    .form-group
      = f.label :birthdate, "Birthdate",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :birthdate, class: "form-control", autocomplete: "on", required: true, placeholder: "Birthdate"

    .form-group
      = f.label :home_phone, "Home Phone",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :home_phone, class: "form-control", autocomplete: "on", required: true, placeholder: "Home Phone"

    .form-group
      = f.label :mobile_phone, "Mobile Phone",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :mobile_phone, class: "form-control", autocomplete: "on", required: true, placeholder: "Mobil Phone"    

    .form-group
      .col-sm-9.col-md-9.col-lg-8.col-md-offset-3.col-sm-offset-3.col-lg-offset-3
        = f.submit "Update Profile", class: "btn btn-primary"
  / end form profile
