.col-lg-9.col-md-8.col-sm-8
  .page-header
    %h3 Profile

  / start form profile
  = form_for :profile, remote: true, html: {id: "form_profile", class: "form-horizontal"} do |f|
    .form-group
      = f.label :username, "Username",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :username, class: "form-control", autocomplete: "on", autofocus: "", required: true, placeholder: "Username"

    .form-group
      = f.label :fullname, "Fullname",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :fullname, class: "form-control", autocomplete: "on", required: true, placeholder: "Fullname"

    .form-group
      = f.label :birthdate, "Birthdate",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :birthdate, class: "form-control", autocomplete: "on", required: true, placeholder: "Birthdate"

    .form-group
      = f.label :home_phone, "Home Phone",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :home_phone, class: "form-control", autocomplete: "on", required: true, placeholder: "Home Phone"

    .form-group
      = f.label :mobile_phone, "Mobile Phone",class: "control-label col-md-3 col-sm-3 col-lg-3"
      .col-sm-9.col-md-9.col-lg-8 
        = f.text_field :mobile_phone, class: "form-control", autocomplete: "on", required: true, placeholder: "Mobil Phone"    

    .form-group
      .col-sm-9.col-md-9.col-lg-8.col-md-offset-3.col-sm-offset-3.col-lg-offset-3
        = f.button "Update Profile", class: "btn btn-primary"
  / end form profile
  
  / start form email settings
  .page-header
    %h3 Email Settings

  %p.text-justify.text-info.hidden-xs
    You can have more than one e-mail in Tokopung. And you can set up which
    is primary email and others. Please be carefull for changing your e-mail.
  
  .form-horizontal#div_email_settings
    .form-group
      .col-md-6.col-sm-6.col-xs-8
        %span.label.label-default
          opan.neutron@gmail.com

      .col-md-4.col-sm-2
        %span.label.label-success
          Primary

  .row
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1
      %hr.hidden-xs
    .col-md-12
      .well.well-sm.visible-md-block.visible-lg-block.visible-sm-inline-block.hidden-xs
        %span Add Email Address

      = form_for :form_add_email, remote: true, html: {id: "form_add_email", class: "form-horizontal"} do |f|
        .form-group
          .col-md-8.col-lg-8.col-sm-8.col-xs-8
            = f.email_field :new_email, class: "form-control", placeholder: "Type your new email."
          .col-md-4.col-lg-4.col-sm-4
            = f.button "Add", class: "btn btn-primary"
  / end form email settings
