!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tokopung
    = stylesheet_link_tag    'mesin/application', media: 'all'
    = javascript_include_tag 'mesin/application'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.fixed-top
      .container
        .navbar-header
          = button_tag nil, class: "navbar-toggle collapsed", data: {toggle: "collapse", target: "#navbar_collapse", "aria-expanded"=> false} do
            %span.sr-only
              Toggle Navigation
          - 3.times do 
            .icon-bar

          = link_to "TokoPung", mesin.root_path, class: "navbar-brand"
        .collapse.navbar-collapse#navbar_collapse
          %ul.navbar-nav.nav
            %li= link_to "Log out", mesin.destroy_user_session_path, method: :delete, confirm: "Are you sure?"
    .container-fluid{role: "main"}
      - # if we dont do this, flash_message will be load lately
      - content_for :flash_message do
        = flash_message

      = yield :flash_message
      .jumbotron
        = yield

