!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    - # semua value meta tag, akan bisa di setup (dinamis)
    %link{rel: "icon", href: "", type: "image/jpg"}

    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}
    %meta{name: "keywords", content: ""}

    %meta{property: "og:title", content: ""}
    - # biasanya berisi articel, website, blog
    %meta{property: "og:type", content: "articel"}
    - # link/url image, usahakan berbentuk kotak
    %meta{property: "og:image", content: ""}
    - # url website/sumber
    %meta{property: "og:url", content: "tokopung.com"}
    %meta{property: "og:description", content: ""}

    - # default value adalah summary
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:url", content: ""}
    %meta{name: "twitter:description", content: ""}
    - # usahakan gambar berbentuk kotak dan tidak kurang dari 60x60px
    %meta{name: "twitter:image", content: ""}

    %title Tokopung

    = stylesheet_link_tag    'mesin/application', media: 'all'
    = stylesheet_link_tag    params[:controller], media: 'all' if asset_exists? params[:controller]
    
    = csrf_meta_tags
  %body.body-navbar-fixed-top
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to "Tokopung", mesin.admin_dashboards_path, class: "navbar-brand navbar-link"
          = button_tag nil, data: {toggle: "collapse", target: "#navcol_1"}, type: "button", class: "navbar-toggle collapsed" do
            %span.sr-only 
            - 3.times do 
              %span.icon-bar

        .collapse.navbar-collapse#navcol_1
          %p.text-justify.navbar-text.hidden-xs#username_navbar 
            Hi, Opan

          %ul.nav.navbar-nav.navbar-right
            %li{role: "presentation"}
              = link_to mesin.destroy_user_session_path, method: :delete, confirm: "Are you sure?" do
                Log out
                %span.fa.fa-sign-out
    / end navbar

    / start container
    .container
      .row.clearfix
        / start left column
        .col-lg-4.col-md-3.col-sm-3
          %ul.nav.nav-pills.nav-stacked
            %li= link_to "Dashboard", mesin.admin_dashboards_path
            %li.active= link_to "Account", mesin.admin_accounts_path
            %li= link_to "Purchase History", '#'
            %li
              = link_to '#' do
                Notifications 
                %span.badge.hidden-xs.hidden-sm 42
            %li= link_to "Settings", '#'
            %li= link_to "Back to Main Page", '#'

        / end left column

        / start center column
        .col-lg-8.col-md-9.col-md-offset-0.col-sm-9
          .row.clearfix
            = yield
            

        / end center column

    / load js in the end on body tag to improve loading performances
    = javascript_include_tag 'mesin/application'
    = javascript_include_tag params[:controller] if asset_exists? params[:controller]
    .modal-loader
    / end container
