!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content:"IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    - # semua value meta tag, akan bisa di setup (dinamis)
    %link{rel: "icon", href: "", type: "image/jpg"}

    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}
    %meta{name: "keywords", content: ""}

    %meta{property: "og:title", content: ""}
    - # biasanya berisi articel, website, blog
    %meta{property: "og:type", content: "articel"}
    - # link/url image, usahakan berbentuk kotak
    %meta{property: "og:image", content: ""}
    - # url website/sumber
    %meta{property: "og:url", content: "tokopung.com"}
    %meta{property: "og:description", content: ""}

    - # default value adalah summary
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:url", content: ""}
    %meta{name: "twitter:description", content: ""}
    - # usahakan gambar berbentuk kotak dan tidak kurang dari 60x60px
    %meta{name: "twitter:image", content: ""}

    %title Tokopung

    = stylesheet_link_tag    'mesin/application', media: 'all'
    = stylesheet_link_tag    params[:controller], media: 'all' if asset_exists? params[:controller]

    = csrf_meta_tags
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      / Main Header
      = render "layouts/mesin/main_header"
      / Left side column. contains the logo and sidebar
      = render "layouts/mesin/left_sidebar"
      / Content Wrapper. Contains page content
      .content-wrapper
        = yield
        / / Content Header (Page header)
        / %section.content-header
        /   %h1
        /     Page Header
        /     %small Optional description
        /   %ol.breadcrumb
        /     %li
        /       = link_to "#" do
        /         %i.fa.fa-dashboard
        /         Level
        /     %li.active Here
        / / Main content
        / %section.content
        /   / Your Page Content Here
        / /.content
      / /.content-wrapper
      / Main Footer
      %footer.main-footer
        / To the right
        .pull-right.hidden-xs
          Anything you want
        / Default to the left
        %strong
          Copyright &copy; 2015
          = succeed "." do
            %a{:href => "#"} Company
        All rights reserved.
      / Control Sidebar
      %aside.control-sidebar.control-sidebar-dark
        / Create the tabs
        %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          %li.active
            = link_to "#control-sidebar-home-tab", data: {toggle: "tab"} do
              %i.fa.fa-home
          %li
            = link_to "#control-sidebar-settings-tab", data: {toggle: "tab"} do
              %i.fa.fa-gears
        / Tab panes
        .tab-content
          / Home tab content
          #control-sidebar-home-tab.tab-pane.active
            %h3.control-sidebar-heading Recent Activity
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    %h4.control-sidebar-subheading Langdon's Birthday
                    %p Will be 23 on April 24th
            / /.control-sidebar-menu
            %h3.control-sidebar-heading Tasks Progress
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %h4.control-sidebar-subheading
                    Custom Template Design
                    %span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger{:style => "width: 70%"}
            / /.control-sidebar-menu
          / /.tab-pane
          / Stats tab content
          #control-sidebar-stats-tab.tab-pane Stats Tab Content
          / /.tab-pane
          / Settings tab content
          #control-sidebar-settings-tab.tab-pane
            %form{:method => "post"}
              %h3.control-sidebar-heading General Settings
              .form-group
                %label.control-sidebar-subheading
                  Report panel usage
                  %input.pull-right{:checked => "", :type => "checkbox"}
                %p
                  Some information about this general settings option
              / /.form-group
          / /.tab-pane
      / /.control-sidebar
      /
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg

    / load js in the end on body tag to improve loading performances
    = javascript_include_tag 'mesin/application'
    = javascript_include_tag params[:controller] if asset_exists? params[:controller]
    
    / end container
