!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content:"IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    - # semua value meta tag, akan bisa di setup (dinamis)
    %link{rel: "icon", href: "", type: "image/jpg"}

    %meta{name: "description", content: ""}
    %meta{name: "author", content: ""}
    %meta{name: "keywords", content: ""}

    %meta{property: "og:title", content: ""}
    - # biasanya berisi articel, website, blog
    %meta{property: "og:type", content: "articel"}
    - # link/url image, usahakan berbentuk kotak
    %meta{property: "og:image", content: ""}
    - # url website/sumber
    %meta{property: "og:url", content: "tokopung.com"}
    %meta{property: "og:description", content: ""}

    - # default value adalah summary
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:url", content: ""}
    %meta{name: "twitter:description", content: ""}
    - # usahakan gambar berbentuk kotak dan tidak kurang dari 60x60px
    %meta{name: "twitter:image", content: ""}

    %title Tokopung

    = stylesheet_link_tag    'mesin/application', media: 'all'
    = stylesheet_link_tag    params[:controller], media: 'all' if asset_exists? params[:controller]

    = csrf_meta_tags
  %body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      / Main Header
      %header.main-header
        / Logo
        = link_to "#", class: "logo" do

          / mini logo for sidebar mini 50x50 pixels
          %span.logo-mini
            %b> M
          / logo for regular state and mobile devices
          %span.logo-lg
            %b> M
            esin
        / Header Navbar
        %nav.navbar.navbar-static-top{:role => "navigation"}
          / Sidebar toggle button
          = link_to "#", class: "sidebar-toggle", data: {toggle: "offcanvas"}, role: "button" do
            %span.sr-only Toggle navigation
          / Navbar Right Menu
          .navbar-custom-menu
            %ul.nav.navbar-nav
              / Messages: style can be found in dropdown.less
              %li.dropdown.messages-menu
                / Menu toggle button
                = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                  %i.fa.fa-envelope-o
                  %span.label.label-success 4
                %ul.dropdown-menu
                  %li.header You have 4 messages
                  %li
                    / inner menu: contains the messages
                    %ul.menu
                      %li
                        / start message
                        %a{:href => "#"}
                          .pull-left
                            / User Image
                            = image_tag "mesin/admin-lte/avatar.png", class: "img-circle", alt: "User Image"
                          / Message title and timestamp
                          %h4
                            Support Team
                            %small
                              %i.fa.fa-clock-o
                              5 mins
                          / The message
                          %p Why not buy a new awesome theme?
                      / end message
                    / /.menu
                  %li.footer
                    = link_to "See All Messages", "#"
              / /.messages-menu
              / Notifications Menu
              %li.dropdown.notifications-menu
                / Menu toggle button
                = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do

                  %i.fa.fa-bell-o
                  %span.label.label-warning 10
                %ul.dropdown-menu
                  %li.header You have 10 notifications
                  %li
                    / Inner Menu: contains the notifications
                    %ul.menu
                      %li
                        / start notification
                        %a{:href => "#"}
                          %i.fa.fa-users.text-aqua
                          5 new members joined today
                      / end notification
                  %li.footer
                    %a{:href => "#"} View all
              / Tasks Menu
              %li.dropdown.tasks-menu
                / Menu Toggle Button
                = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                  %i.fa.fa-flag-o
                  %span.label.label-danger 9
                %ul.dropdown-menu
                  %li.header You have 9 tasks
                  %li
                    / Inner menu: contains the tasks
                    %ul.menu
                      %li
                        / Task item
                        %a{:href => "#"}
                          / Task title and progress text
                          %h3
                            Design some buttons
                            %small.pull-right 20%
                          / The progress bar
                          .progress.xs
                            / Change the css width attribute to simulate progress
                            .progress-bar.progress-bar-aqua{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                              %span.sr-only 20% Complete
                      / end task item
                  %li.footer
                    = link_to "View All Tasks", "#"
              / User Account Menu
              %li.dropdown.user.user-menu
                / Menu Toggle Button
                = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
                  / The user image in the navbar
                  %img.user-image{:alt => "User Image", :src => "/assets/mesin/admin-lte/avatar.png"}
                    / hidden-xs hides the username on small devices so only the image appears.
                    %span.hidden-xs Alexander Pierce
                %ul.dropdown-menu
                  / The user image in the menu
                  %li.user-header
                    %img.img-circle{:alt => "User Image", :src => "/assets/mesin/admin-lte/avatar.png"}
                      %p
                        Alexander Pierce - Web Developer
                        %small Member since Nov. 2012
                  / Menu Body
                  %li.user-body
                    .col-xs-4.text-center
                      %a{:href => "#"} Followers
                    .col-xs-4.text-center
                      %a{:href => "#"} Sales
                    .col-xs-4.text-center
                      %a{:href => "#"} Friends
                  / Menu Footer
                  %li.user-footer
                    .pull-left
                      = link_to "Profile","#", class: "btn-flat btn btn-default" 
                    .pull-right
                      = link_to "Sign out","#", class: "btn-flat btn btn-default" 
              / Control Sidebar Toggle Button
              %li
                %a{"data-toggle" => "control-sidebar", :href => "#"}
                  %i.fa.fa-gears
      / Left side column. contains the logo and sidebar
      %aside.main-sidebar
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / Sidebar user panel (optional)
          .user-panel
            .pull-left.image
              %img.img-circle{:alt => "User Image", :src => "/assets/mesin/admin-lte/avatar.png"}
            .pull-left.info
              %p Alexander Pierce
              / Status
              = link_to "#" do
                %i.fa.fa-circle.text-success
                Online
          / search form (Optional)
          %form.sidebar-form{:action => "#", :method => "get"}
            .input-group
              %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}
                %span.input-group-btn
                  %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
                    %i.fa.fa-search
          / /.search form
          / Sidebar Menu
          %ul.sidebar-menu
            %li.header MAIN NAVIGATION
            / Optionally, you can add icons to the links
            %li.active
              = link_to "#" do
                %i.fa.fa-dashboard
                %span Dashboard
            %li
              = link_to "#" do
                %i.fa.fa-user
                %span Profile
            %li
              = link_to "#" do
                %i.fa.fa-link
                %span Account
            %li
              = link_to "#" do
                %i.fa.fa-envelope
                %span Email
            %li
              = link_to "#" do
                %i.fa.fa-lock
                %span Security
                
          / /.sidebar-menu
        / /.sidebar
      / Content Wrapper. Contains page content
      .content-wrapper
        / Content Header (Page header)
        %section.content-header
          %h1
            Page Header
            %small Optional description
          %ol.breadcrumb
            %li
              = link_to "#" do
                %i.fa.fa-dashboard
                Level
            %li.active Here
        / Main content
        %section.content
          / Your Page Content Here
        / /.content
      / /.content-wrapper
      / Main Footer
      %footer.main-footer
        / To the right
        .pull-right.hidden-xs
          Anything you want
        / Default to the left
        %strong
          Copyright &copy; 2015
          = succeed "." do
            %a{:href => "#"} Company
        All rights reserved.
      / Control Sidebar
      %aside.control-sidebar.control-sidebar-dark
        / Create the tabs
        %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          %li.active
            = link_to "#control-sidebar-home-tab", data: {toggle: "tab"} do
              %i.fa.fa-home
          %li
            = link_to "#control-sidebar-settings-tab", data: {toggle: "tab"} do
              %i.fa.fa-gears
        / Tab panes
        .tab-content
          / Home tab content
          #control-sidebar-home-tab.tab-pane.active
            %h3.control-sidebar-heading Recent Activity
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    %h4.control-sidebar-subheading Langdon's Birthday
                    %p Will be 23 on April 24th
            / /.control-sidebar-menu
            %h3.control-sidebar-heading Tasks Progress
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %h4.control-sidebar-subheading
                    Custom Template Design
                    %span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger{:style => "width: 70%"}
            / /.control-sidebar-menu
          / /.tab-pane
          / Stats tab content
          #control-sidebar-stats-tab.tab-pane Stats Tab Content
          / /.tab-pane
          / Settings tab content
          #control-sidebar-settings-tab.tab-pane
            %form{:method => "post"}
              %h3.control-sidebar-heading General Settings
              .form-group
                %label.control-sidebar-subheading
                  Report panel usage
                  %input.pull-right{:checked => "", :type => "checkbox"}
                %p
                  Some information about this general settings option
              / /.form-group
          / /.tab-pane
      / /.control-sidebar
      /
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg

    / load js in the end on body tag to improve loading performances
    = javascript_include_tag 'mesin/application'
    = javascript_include_tag params[:controller] if asset_exists? params[:controller]
    
    / end container
