.row
  .col-md-9
    - # render from mesin
    = render "shared/banner_form"
  .col-md-3
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email, "E-Mail", class: "control-label"
        = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Your E-Mail"
      .form-group
        = f.label :password, class: "control-label"
        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Your password"
        
      - if devise_mapping.rememberable?
        .checkbox
          .form-group
            = f.label :remember_me do
              = f.check_box :remember_me
              Remember Me
      .form-group
        = f.submit "Log in", class: "btn btn-primary"
    = render "devise/shared/links"
